body {
    font-family: Arial, sans-serif;
    /*background-color: #add8e6;*/
    background-image: url('images/background.webp'); /* Aggiungi questa linea */
    background-size: cover; /* Questa linea fa in modo che l'immagine di sfondo copra l'intero elemento */
    display: flex;
    flex-direction: column;
    align-items: center;
    /*overflow: hidden;*/
    /*height: 100%;
    
    /*padding-top: 50px;*/
}

/* Stili per dispositivi mobili */
@media (max-width: 767px) {
  body {
      background-size: auto 100vh;
      background-repeat: no-repeat;
  }

  #wlCounterDiv {
    height: 220vh  !important;
  }
}

/*desktop*/
@media (min-width: 1024px) {
  body {
      /*background-size: cover;*/
  }

  #wlCounterDiv {
    height: 8vh  !important;
  }
}


#shakeable {
  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /*
  width: 96%;
  height: 96%;
  
  max-width: 100%;
  max-height: 100%;
  
  top: 0;
  left: 2%;
  */
  position: absolute;
  /*overflow: hidden;*/
}

#wrapper {
  width: 100%;
  height: 98%;
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
  /* Il resto del tuo CSS per #wrapper va qui */
}

#shakeableIndex {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*
  width: 96%;
  height: 96%;
  
  max-width: 100%;
  max-height: 100%;
  
  top: 0;
  left: 2%;
  */
  position: absolute;
  flex-direction: column;
  align-items: center;
  display: flex;
}


@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

#endGame {
  display: none;
}


.swal-input-custom {
  color: #fff;
}

.end-game-animation {
  animation: endGameAnimation 2s ease-in-out;
}

@keyframes endGameAnimation {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}



hr {
  border-color: #000000;
  border-width: 2px;
  width: 80%;
  margin-right: auto;
  margin-left: 1%;
  margin-top: 2%;
  margin-bottom: auto;
  border-radius: 5px;
}

.write {
    /*color: #333;*/
    color : #ffffff;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

#nickname {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

#game-images {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#game-images img {
    width: 24%; /* Riduci la dimensione delle immagini */
    height: auto;
    margin: 0 10px; /* Aggiungi un po' di spazio tra le immagini */
    transition: transform 0.2s ease-in-out; /* Aggiungi una transizione alla proprietà transform */
}

#game-images img:active {
    transform: scale(0.95); /* Riduci l'immagine del 5% */
}


.context-menu {
    background-color: rgba(0, 0, 0, 0.8); /* Sfondo nero semi-trasparente */
    color: white; /* Testo bianco */
    border: none; /* Rimuovi il bordo predefinito */
    border-radius: 5px; /* Angoli arrotondati */
    padding: 10px; /* Spazio intorno al testo */
    font-size: 16px; /* Dimensione del testo */
    z-index: 1000; /* Assicurati che il menu a tendina sia sopra gli altri elementi */
}

#context-menu option {
    padding: 5px 10px; /* Spazio intorno al testo di ogni opzione */
}

#dropdown-menu a {
    color: white; /* Colore del testo */
    text-decoration: none; /* Rimuovi il sottolineato */
    display: block; /* Rendi ogni link un blocco, così l'intera area è cliccabile */
    padding: 5px; /* Aggiungi un po' di spazio intorno al testo */
}

#dropdown-menu a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Aggiungi uno sfondo leggermente bianco quando il mouse passa sopra */
}

.centered-image {
    position: fixed;
    width: 28%; /* Riduci la dimensione delle immagini */
    height: auto;
    z-index: 9999;
}

#drawButton {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 100;
    width: 80px;
    height: 30px;
}

#playerTurn {
    color: white;
    margin-top: 2%;
    margin-bottom: auto;
    margin-left: 5%;
    margin-right: auto;
}


#BigCard img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*
    width: 300px;
    height: 400px;
    */
    width: 28%;
    border: none !important;
    /* Aggiungi altre proprietà come necessario, ad esempio per l'immagine di sfondo, il bordo, ecc. */
}



/* Import Google Font - Poppins */
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');*/

.wrapper{
  visibility: hidden;
  position: absolute;
  /*width: 150px; /**/
  border-radius: 10px;
  background: #fff;
  background-color: rgba(0, 0, 0, 0.8); /* Sfondo nero semi-trasparente */
  /*width: 50%; /**/
  color: white;
  box-shadow: 0 12px 35px rgba(0,0,0,0.1);
  
}
.wrapper .menu{
  padding: 0px 12px;
}
.content .item{
  font-size: 1.2em; /* Imposta la dimensione del font a 1em (relativo alla dimensione del font del genitore) */
  /*height: 2em; /* Imposta l'altezza a 2em (relativo alla dimensione del font del genitore) */
  list-style: none;
  /*font-size: 22px;*/
  height: 40px;/**/
  display: flex;
  /*width: 100%;/**/
  width: 150px;
  cursor: pointer;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 1px;
  padding: 0 5px 0 10px;
}
.content .item:hover{
  /*background: #f2f2f2;*/
  background-color: rgba(255, 255, 255, 0.1);
  
  height: 30px; /* Riduci l'altezza */
  width: 90%; /* Riduci la larghezza */
  padding: 5px; /* Riduci il padding */
}

.content .item span{
  font-size: 1em; /* Imposta la dimensione del font a 0.8em (relativo alla dimensione del font del genitore) */
  margin-left: 8px;
  margin-right: 8px;
  /*font-size: 19px;*/
}

#context-wl{
  width: 200px !important;
}

#loadingBar {
  /* Posizionamento e dimensioni */
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 20px;
  transform: translate(-50%, -50%);

  /* Aspetto */
  background-color: rgba(0, 0, 0, 0.4); /* Sfondo nero semi-trasparente */
  color: white; /* Colore del testo */
  border: none; /* Rimuovi il bordo predefinito */
  border-radius: 10px; /* Angoli arrotondati */

  /* Stile della barra di caricamento */
  -webkit-appearance: none;
  appearance: none;
}

#loadingBar::-webkit-progress-bar {
  /* Stile dello sfondo della barra di caricamento */
  background-color: rgba(0, 0, 0, 0.4); /* Sfondo nero semi-trasparente */
  border-radius: 10px; /* Angoli arrotondati */
}

/*
#loadingBar::-webkit-progress-value {
  background: repeating-linear-gradient(
    -45deg,
    /*rgba(255, 165, 0, 0.8),
    rgba(255, 165, 0, 0.8) 10px, *//*
    
    rgba(208,127,10,255),
    rgba(208,127,10,255) 10px,
    rgba(255,255,255, 0.8) 10px,
    rgba(255,255,255, 0.8) 20px
  );
  border-radius: 10px;
}
*/


#loadingBar::-webkit-progress-value {
  background-color: rgba(208,127,10,255);
  border-radius: 10px;
}

@keyframes drop {
  0% {
    top: -100%;
  }
  100% {
    top: 100;
  }
}

.card-drop {
  position: relative;
  animation: drop 1s cubic-bezier(0.0, 0.0, 0.1, 1);
}


@keyframes grow {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.card-grow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: grow 2s cubic-bezier(0.9, 0.5, 0.9,5);
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake {
  animation: shake 0.5s; 
  animation-iteration-count: infinite;
}

button {
  font-size: 1em;
  padding: 15px 30px; /* Aumenta il padding per un pulsante più grande */
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 15px; /* Aumenta il raggio del bordo per un bordo più arrotondato */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  color: #333;
  background-color: white;
}


#nickname {
    background: rgba(0, 0, 0, 0.4); /* Nero semi-trasparente */
    color: white; /* Testo bianco */
    padding: 10px;
    border: none; /* Nessun bordo */
    outline: none; /* Rimuove l'outline quando l'elemento è in focus */
    text-align: center; /* Centra il testo */
    width: 200px; /* Larghezza della casella di testo */
}

#nickname:focus {
    border: none; /* Assicura che non ci sia bordo quando l'elemento è in focus */
    outline: none; /* Rimuove l'outline quando l'elemento è in focus */
}

/*
.content .setting{
  display: flex;
  margin-top: -5px;
  padding: 5px 12px;
  border-top: 1px solid #ccc;
}

.content .share{
  position: relative;
  justify-content: space-between;
}

.share .share-menu{
  position: absolute;
  background: #fff;
  width: 200px;
  right: -200px;
  top: -35px;
  padding: 13px;
  opacity: 0;
  pointer-events: none;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.08);
  transition: 0.2s ease;
}
.share:hover .share-menu{
  opacity: 1;
  pointer-events: auto;
}