<!DOCTYPE html>
<html>
    <head>
        <title>SoS Online</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        <meta name="google" content="notranslate">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='SosOnline/images/favicon.png') }}">
        <div class="content">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='SosOnline/style.css') }}">
        </div>
    </head>
  <body>
      
    <div id="wrapper">
      <div id="shakeableIndex">
      
      <h1 class="write">SoS Online</h1>
      <button id="host-lobby">Host a lobby</button>
      <button id="join-lobby">Join a lobby</button>
      <input type="text" id="nickname" placeholder="Inserisci il tuo nickname">
      <!-- <button id="start-game">Start Game</button> -->
      <!-- <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-app.js"></script>
      <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-database.js"></script> -->

      <input type="hidden" id="gameEndpoint" value="SosOnline" />
      <script>
        document.getElementById('nickname').value = localStorage.getItem( document.getElementById('gameEndpoint').value+'_playername');
      </script>

      <script src="https://cdn.socket.io/4.2.0/socket.io.min.js" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

      <input type="hidden" class="dynamic-script-url" value="{{ url_for('static', filename='home/index_script.js') }}" />
      <script src="{{ url_for('static', filename='home/socket_connect.js') }}"></script>
      <script src="{{ url_for('static', filename='home/index_frontend.js') }}"></script>
      <!--
      <script>
        var script = document.createElement('script');
        script.src = "{{ url_for('static', filename='home/socket_connect.js') }}";
        document.body.appendChild(script);
      </script>
      -->
      


      <!-- <script src="{{ url_for('static', filename='home/socket_connect.js') }}"></script> -->
      <!--
      <script>
        ///*
        var script = document.createElement('script');
        script.src = "{{ url_for('static', filename='home/socket_connect.js') }}";
        script.onload = function() {
            var gameScript = document.createElement('script');
            gameScript.src = "{{ url_for('static', filename='home/index_script.js') }}";
            document.body.appendChild(gameScript);
        };
        document.body.appendChild(script);
        //*/
      </script>
      -->
      <!--
      <script>
          window.addEventListener('load', function() {
              var script = document.createElement('script');
              script.src = "{{ url_for('static', filename='home/index_script.js') }}";
              document.body.appendChild(script);
          });
      </script>
      -->
      <!-- <script src="{{ url_for('static', filename='home/index_script.js') }}"></script> -->
      </div>
    </div>
  </body>
</html>