<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8">
		<title>The Mind</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        <meta name="google" content="notranslate">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='TheMind/style_game.css') }}">
		<link rel="icon" type="image/png" href="{{ url_for('static', filename='TheMind/images/favicon.png') }}">
    </head>

    <body>
        <div id="wrapper">
            <div id="shakeable">
                Ciao   
            </div>
        </div>


        <progress id="loadingBar" value="0" max="3" style="display: visible;"></progress>

        <script src="https://cdn.socket.io/4.2.0/socket.io.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.3.3"></script>

        <input type="hidden" id="scriptURL" value="{{ url_for('static', filename='TheMind/script_game.js') }}" />
        <script src="{{ url_for('static', filename='home/socket_connect.js') }}"></script>
    </body>

</html>
