<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8">
		<title>The Mind</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        <meta name="google" content="notranslate">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home/styles.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='TheMind/styles.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='TheMind/style_game.css') }}">
		<link rel="icon" type="image/png" href="{{ url_for('static', filename='TheMind/images/favicon.png') }}">
    </head>

    
    <body>
        <div id="wrapper">
            <div id="shakeable">
                <div id="top">c</div>
                <hr id="hr-separator">
                <div id="game-area">
                    <div id="info-area">
                        <div id="info-leftPanel" class="info-panel unselectable">
                            <div id="info-level" class="info-container">
                                <img id="level-icon" class="info-icon" src="{{ url_for('static', filename='TheMind/images/lvl_gray_icon.png') }}">
                                <div id="level-text" class="info-text"></div>
                            </div>
                            
                            <div id="info-lives" class="info-container">
                                <img id="lives-icon" class="info-icon" src="{{ url_for('static', filename='TheMind/images/life_icon.png') }}">
                                <div id="lives-text" class="info-text"></div>
                                <div id="lives-options-text" class="info-text info-plus-text"></div>
                            </div>
                            
                            <div id="info-shurikens" class="info-container">
                                <img id="shurikens-icon" class="info-icon" src="{{ url_for('static', filename='TheMind/images/shuriken_icon.png') }}">
                                <div id="shurikens-text" class="info-text"></div>
                                <div id="shurikens-options-text" class="info-text info-plus-text"></div>
                            </div>
                        </div>
                        
                        <div id="info-rightPanel" class="info-panel unselectable">
                            
                        </div>
                    </div>
                    <div id="otherPlayershand-area">
                        <!-- <img id="card100" style="height: 200px;" src="{{ url_for('static', filename='TheMind/images/3.png') }}"> -->
                    </div>
                    <div id="table-area">
                        <img id="game-pile-img" class="game-pile" src="{{ url_for('static', filename='TheMind/images/game pile.png') }}">
                    </div>
                    <div id="hand-area">
                        <img id="card1" class="card hidden">
                        <img id="card2" class="card hidden">
                        <img id="card3" class="card hidden">
                        <img id="card4" class="card hidden">
                        <img id="card5" class="card hidden">
                        <img id="card6" class="card hidden">
                        <img id="card7" class="card hidden">
                        <img id="card8" class="card hidden">
                        <img id="card9" class="card hidden">
                        <img id="card10" class="card hidden">
                        <img id="card11" class="card hidden">
                        <img id="card12" class="card hidden">
                    </div>
                    
                </div>
            </div>

            
            <input type="hidden" id="gameEndpoint" value="TheMind"/>

            <div class="context-menu">
                <ul class="menu">
                    <li id="context-play" class="item"><span>Gioca</span></li>
                </ul>
            </div>
        </div>


        <progress id="loadingBar" value="0" max="1" style="display: visible;"></progress>

        <script defer src="https://cdn.socket.io/4.2.0/socket.io.min.js" crossorigin="anonymous"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.3.3"></script>

        <!-- These scripts are only executed after socket_connect.js has finished -->
        <input type="hidden" class="dynamic-script-url" value="{{ url_for('static', filename='TheMind/script_game.js') }}">
        <input type="hidden" class="dynamic-script-url" value="{{ url_for('static', filename='TheMind/script_contextMenu.js') }}">
        <input type="hidden" class="dynamic-script-url" value="{{ url_for('static', filename='home/game_common.js') }}">

        <script defer src="{{ url_for('static', filename='home/socket_connect.js') }}"></script>
    </body>

</html>
