<html>
<head>
    <title>Affiuccio</title> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home/home_style.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Welcome to Affiuccio</h1>
        </div>
        <div class="content">
            <p>A quale gioco vuoi giocare?</p>
            <p><a href="/SosOnline">Sos Online</a></p>
        </div>
        <div class="footer">
            <p>Powered by Affiuccio</p>
        </div>
    </div>

</html>