{% import game_name ~ '/config.html' as conf %}

<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8">
		<title>{{ conf.g_title | default('Generic Game') }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
		<meta name="google" content="notranslate">
		<meta name="theme-color" content="{{ conf.g_themeColor | default('#0c0c12') }}">
		<meta name="color-scheme" content="dark">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=conf.g_folder | trim ~ '/styles.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='common/style_index.css') }}">
		<link rel="icon" type="image/png" href="{{ url_for('static', filename=conf.g_folder | trim ~ '/images/' ~ conf.g_favicon) }}?v={{ conf.g_folder }}">
		<link rel="shortcut icon" href="{{ url_for('static', filename=conf.g_folder | trim ~ '/images/' ~ conf.g_favicon) }}?v={{ conf.g_folder }}">
		<link rel="apple-touch-icon" href="{{ url_for('static', filename=conf.g_folder | trim ~ '/images/' ~ conf.g_favicon) }}?v={{ conf.g_folder }}">
    </head>

	<body>
		<div id="mainWrapper">
			<div id="shakeableIndex">

				<div id="mainContent">
					<h1 class="title-text" id="game-title">{{ conf.g_indexTitle | default('Generic Game') }}</h1>
					
            		<h3 class="title-text" id="invite-title">{{ sender }} Invited you!</h3>
					<input type="text" id="nickname" placeholder="Insert your nickname">
					<button class="index-button" id="host-lobby" style="display: none;">Host a lobby</button>
					<button class="index-button" id="join-lobby" style="display: none;">Join a lobby</button>
					<button class="index-button" id="join-lobby-by-invite">Join Lobby</button>

					<input type="hidden" id="gameEndpoint" value="{{ conf.g_endpoint | default('GenericGame') }}"/>
				</div>

				<script>
					document.getElementById('nickname').value = localStorage.getItem( document.getElementById('gameEndpoint').value+'_playername');
				</script>

				<script src="https://cdn.socket.io/4.2.0/socket.io.min.js" crossorigin="anonymous"></script>
				<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

				<input type="hidden" class="dynamic-script-url" value="{{ url_for('static', filename='common/index_script.js') }}" />
				<script src="{{ url_for('static', filename='common/socket_connect.js') }}"></script>
				<script src="{{ url_for('static', filename='common/index_frontend.js') }}"></script>
				
			</div>
		</div>
	</body>
</html>